.keyboard-container {
  background: #111;
  color: white;
  padding: 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.amount-display {
  text-align: right;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.note-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #222;
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.note-input-container input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  outline: none;
}

.done-btn {
  background: #01e23d;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.keyboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.key-btn {
  background: #222;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

.icon {
  width: 24px;
  height: 24px;
}
