/* Full height and center using flexbox */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5; /* Light background */
}

.auth-box {
  background-color: #f0f2f5;
  padding: 40px 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}



/* Optional styling for visuals */
.welcome-text {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.brand-name {
  color: #007bff; /* Customize this to your brand color */
}


.phone-login-btn,
.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #000000;
  color: #f0f2f5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%; /* Stretch to container width */
  max-width: 300px; /* Limit width */
  margin: 0 auto 1rem auto; /* Center horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.phone-login-btn .button-icon {
  width: 24px;
  height: 24px;
}

.or-text {
  margin: 1rem 0;
  font-weight: bold;
}



.button-icon {
  width: 24px;
  height: 24px;
}




