.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  text-decoration: none;
  position: relative;
}

/* Remove underline and prevent any hover effects on the text */
.nav-icon span {
  margin-top: 5px;
  pointer-events: none;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Ensure the text inherits the color of its parent */
}

.nav-icon:hover,
.nav-icon:active,
.nav-icon:focus {
  text-decoration: none; /* Ensure no underline on hover */
  color: inherit; /* Ensure no color change on hover */
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add-button svg {
  pointer-events: none;
}
